{{!Citation for the following page
Date: 11/2/2022
Adapted From:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app}}

<!-- trainers.hbs -->
<link rel="stylesheet" href="./css/style.css">
<h1 class="heading">Trainers</h1>
  <div class="nav-bar">
            <a href="/">Home</a>
            <a href="pokemon.hbs">Pokemon</a>
            <a href="trainers.hbs">Trainers</a>
            <a href="types.hbs">Types</a>
            <a href="attacks.hbs">Attacks</a>
            <a href="learned_attacks.hbs">Learned Attacks</a>
          </div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./js/trainers.js"></script>
{{!-- Create a table --}}
<table id="Trainers-table" class="main-table">

    {{!-- Header section --}}
    <thead>
        <th>Trainer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hometown</th>
        <th>Delete</th>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the trainer_id, fname, lname, hometown, in order --}}
        {{#each data}}
        <tr data-value={{this.trainer_id}}>
            <td>{{this.trainer_id}}</td>
            <td>{{this.f_name}}</td>
            <td>{{this.l_name}}</td>
            <td>{{this.hometown}}</td>
            <td><button onclick="deleteTrainer({{this.trainer_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Form to add a record to the table  --}}

<form id="add-trainers-form" method="POST" action="/add-trainers-form">
<legend>To register a new trainer, please enter their information below and click `Submit`!</legend>
<p> * = input required </p>
<fieldset>
    <label for="input-f_name">First Name:* </label>
    <input type="text" name="input-f_name" id="input-f_name" required>
    
    <label for="input-l_name">Last Name:* </label>
    <input type="text" name="input-l_name" id="input-l_name" required>

    <label for="input-hometown">Hometown:* </label>
    <input type="text" name="input-hometown" id="input-hometown" required>
</fieldset>
    <input class="button-center" type="submit" value='Submit'>
</form>

{{!-- form to search trainer by l_name --}}
<form id="search-trainers-html" method='GET' action='/trainers.hbs'>
<legend>Search for a specific Trainer by Last Name</legend>
<fieldset>
    <label for="input-l_name">Search by Last Name: </label>
    <input type="text" name="l_name" id="input-l_name-html-search">
</fieldset>
<div class="center-button">
    <input  type="submit" value='Submit'>
    <input  type="reset" id="reset" value="Cancel">
    <input  type="Submit" id="cancel" value="Reset">
</div>
</form>

{{!-- Images --}}
<div id="img-left">
    <img src="./images/2lefttrainers.png" alt="trainer image" width="200px" height="350px">
</div>

<div id="trainer-img-right">
    <img src="./images/2righttrainers.png" alt="trainer image" width="200px" height="350px">
</div>

<footer>
    <p>© 2022 Kodie Artmayer, Mahnoor Mansoor </p>
</footer>
